<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
    <link type="text/css" rel="stylesheet" href="../components/jquery-mobile/jquery.mobile-1.3.1.css">
    <script src="../components/angular/angular.js"></script>
    <script src="../components/angular/angular-mobile.js"></script>
    <script src="../dist/angular-jqm.js"></script>

    <script>
        var mod = angular.module("app", ["jqm"]);
        mod.config(function ($routeProvider) {
            $routeProvider.when("/", {
                redirectTo: "main.html"
            });
            $routeProvider.when("/ngSnippet.html", {
                redirectTo: "main.html"
            });
            $routeProvider.when("/:page", {
                transition: 'slide',
                templateUrl: function (params) {
                    return params.page;
                }
            });
        });
    </script>

    <script type="text/ng-template" id="main.html">
        <!-- the main page of your app -->
        <div jqm-page>
            <div jqm-header><h1>Page1</h1></div>
            <div jqm-footer>
                <h1>Test fixed footer</h1>
            </div>
            <!-- put your sample code here -->
            <button ng-click="test()">Test</button>
            <p>hello first</p>

            <button style="width:100%" ng-click="$panel.left.toggle()">
              Left Panel
            </button>
            <button style="width:100%" ng-click="$panel.right.toggle()">
              Right Panel
            </button>
            <h3>Left Panel Position:</h3>
            <input type="radio" ng-model="$root.leftPanelDisplay" value="overlay"> Overlay
            <br/>
            <input type="radio" ng-model="$root.leftPanelDisplay" value="push"> Push
            <br/>
            <input type="radio" ng-model="$root.leftPanelDisplay" value="reveal"> Reveal

            <p>hello</p>

            <p>hello</p>

            <input type="text">
            <p>hello</p>

            <p>hello</p>

            <p>hello</p>

            <p>hello</p>
            <a href="#/page2.html">To page2</a>

            <p>hello</p>

            <p>hello</p>

            <p>hello</p>

            <p>hello</p>

            <p>hello</p>

            <p>hello</p>

            <p>hello</p>

            <p>hello</p>

            <p>hello</p>

            <p>hello</p>

            <p>hello</p>

            <p>hello last</p>
        </div>
    </script>

    <script type="text/ng-template" id="page2.html">
        <!-- Another page -->
        <div jqm-page>
            <div jqm-header><h1>Page2</h1></div>
            <div jqm-footer>
                <h1>Test fixed footer</h1>
            </div>
            <a href="#/main.html">To page1</a>

            <p>hello</p>

            <p>hello</p>

            <p>hello</p>

            <p>hello</p>
        </div>
    </script>

    <script>
        function NoopCtrl() {

        }
    </script>
</head>

<body>
<div jqm-panel position="left" display="{{$root.leftPanelDisplay}}" ng-init="$root.leftPanelDisplay = 'reveal'">
  Hello, left panel!
  <a href="#/page2.html">To page 2!</a>
  <a href="#/main.html">To main!</a>
</div>
<div jqm-viewport></div>
<div jqm-panel display="overlay" position="right">
  Hello, right panel!
  <a href="#/page2.html">To page 2!</a>
  <a href="#/main.html">To main!</a>
</div>

</body>

</html>
