<div jqm-scope-as="jqmCheckbox"
     class="ui-checkbox" ng-class="{'ui-disabled': $scopeAs.jqmCheckbox.disabled}">
    <label ng-class="{'ui-checkbox-on': $scopeAs.jqmCheckbox.checked, 'ui-checkbox-off': !$scopeAs.jqmCheckbox.checked}"
           ng-click="$scopeAs.jqmCheckbox.toggleChecked()"
           class="ui-btn ui-btn-corner-all ui-fullsize ui-btn-icon-left">
        <span class="ui-btn-inner">
            <span class="ui-btn-text" ng-transclude></span>
            <span ng-class="{'ui-icon-checkbox-on': $scopeAs.jqmCheckbox.checked, 'ui-icon-checkbox-off': !$scopeAs.jqmCheckbox.checked}"
                  class="ui-icon ui-icon-shadow"></span>
        </span>
    </label>
    <input type="checkbox" ng-model="$scopeAs.jqmCheckbox.checked">
</div>
