<li class="ui-li ui-btn"
  jqm-once-class="{{icon ? 'ui-li-has-arrow ui-btn-icon-'+iconpos : ''}}"
  jqm-class="{'ui-first-child': $position.first, 'ui-last-child': $position.last, 
    'ui-li-has-thumb': hasThumb, 'ui-li-has-count': hasCount}">
  <div class="ui-btn-inner ui-li">
    <div class="ui-btn-text">
      <a ng-href="{{link}}" class="ui-link-inherit" ng-transclude>
      </a>
    </div>
    <span ng-if="icon" class="ui-icon {{icon}}" jqm-class="{'ui-icon-shadow': iconShadow}">&nbsp;</span>
  </div>
</li>
