
/* 
 * still: Just something to make an "animation" happen, but really visibly
 * do nothing
 */
@-webkit-keyframes still {
  from { opacity: 0.99; } 
  to { opacity: 1.0; }
}
@-moz-keyframes still {
  from { opacity: 0.99; }
  to{ opacity: 1.0; }
}
@keyframes still {
  from { opacity: 0.99; }
  to { opacity: 1.0; }
}

.modal {
  -webkit-animation-duration: 450ms;
  -moz-animation-duration: 450ms;
  animation-duration: 450ms;
}
.modal.out,
.modal.in.reverse {
  -webkit-animation-name: still;
  -moz-animation-name: still;
  animation-name: still;
  z-index: -1; /* below the animated modal element */
}
.modal.in {
	-webkit-animation-name: slideinfrombottom;
	-moz-animation-name: slideinfrombottom;
	animation-name: slideinfrombottom;
  -webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0);
  z-index: 0;
}
.modal.out.reverse {
	-webkit-animation: slideouttobottom;
	-moz-animation: slideouttobottom;
	animation: slideouttobottom;
  -webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0);
  z-index: 0;
}
