.in.ng-hide,
.out.ng-hide {
  display: inherit !important;
}

/* 
 * still: Just something to make an "animation" happen, but really visibly
 * do nothing
 */
@-webkit-keyframes still {
  from { opacity: 0.99; } 
  to { opacity: 1.0; }
}
@-moz-keyframes still {
  from { opacity: 0.99; }
  to{ opacity: 1.0; }
}
@keyframes still {
  from { opacity: 0.99; }
  to { opacity: 1.0; }
}

.modal.out,
.modal.in.reverse {
  -webkit-animation: still 450ms;
  -moz-animation: still 450ms;
  animation: still 450ms;
}

.modal.in {
	-webkit-animation: slideinfrombottom 450ms;
	-moz-animation: slideinfrombottom 450ms;
	animation: slideinfrombottom 450ms;
  -webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0);
}
.modal.out.reverse {
	-webkit-animation: slideouttobottom 450ms;
	-moz-animation: slideouttobottom 450ms;
	animation: slideouttobottom 450ms;
  -webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0);
}

/*
 * Page modal animations: Make sure the going in page is on top
 */
.page-modal.modal.out,
.page-modal.modal.in.reverse {
  z-index: -1; /* below the animated modal element */
}
.page-modal.modal.in,
.page-modal.modal.out.reverse {
  z-index: 0;
}
