.ui-mobile .ui-page {
    height: 100%;
    min-height: 0;
    overflow: hidden;
}
.ui-content {
    position: relative;
    margin: 0;
    padding: 0;
}
.ui-content.jqm-content-with-header {
    margin-top: 42px
}

.ui-content.jqm-content-with-footer {
    margin-bottom: 43px
}
.jqm-standalone-page {
    display: block;
    position: relative;
}