.ui-panel {
  position: absolute;
}

.ui-panel-closed {
  display: none;
}

.ui-panel-content-wrap {
  height: 100%
}

.jqm-panel-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.ui-panel-dismiss-open {
  -webkit-transition: -webkit-transform 350ms ease;
  -moz-transition: -moz-transform 350ms ease;
  transition: transform 350ms ease;

  -webkit-transform: translateX(0em);
  -moz-transform: translateX(0em);
  transform: translateX(0em);

  display: block;
}
.jqm-panel-container-open .ui-panel-dismiss-open.ui-panel-dismiss-left {
  -webkit-transform: translateX(17em);
  -moz-transform: translateX(17em);
  transform: translateX(17em);
}
.jqm-panel-container-open .ui-panel-dismiss-open.ui-panel-dismiss-right {
  -webkit-transform: translateX(-17em);
  -moz-transform: translateX(-17em);
  transform: translateX(-17em);
}
